body {
    font-family:Arial,Helvetica,sans-serif;	
	background:white;
    margin:0;
	padding:0;	
}
header{
	
	border: 2px solid #2874a6;
	margin: 0px 0px 0px 0px;
    background-color:#2874a6;
    
}
header, footer p {
	color:white;
	text-align:center;
	font-size:2em;
	font-weight: verdana ;
	font-style:oblique;
}
nav , footer{
	background-color:#2874a6;
}
nav a{
	margin:0px 10px 0px 50px;
	color:black;
	position:relative;
	left:30%;
	text-decoration:none;
}
section{
	margin:50px 20px 20px 30px;
    border: 0px solid grey;
	padding:20px;
	width:40%;
    background-color:aliceblue;
	
}
section p {
	text-align:left;
	font-weight:bold;
	font-size:2em;
	font-style:italic;
	text-transform:capitalize;
	line-height:200%;
	word-spacing:1em;
}
aside{
    margin:-1470px 0px 0px 0px;
	float:right;
	width:15%;
	height:250px;
	background-color:#d7e1ec;
	text-align:center;
	font-style:hervana;
}
aside p{
	text-align:left;
}

footer {
	
	position:absolute;
	top:200%;
    bottom:0;
	height:10%;
	width:99%;
	padding:5px;
	
	
}
footer p {
	
	font-size:14px;
}
section h1,h2,h3{
	font-size:1em;
}
section h1{
   position:relative;
   top:40px;
}
section h2{
	position:relative;
	left:25%;
	top:10px;
	
}
section h3{
	position:relative;
	left:60%;
	top:-25px;
}
.photo{
	height:110px;
	position:absolute;
	left:30%;
	top:230px;
}	
tr{
	word-spacing:5px;
	text-align:center;	
}
td{
	word-spacing:0px;
	text-align:center;
}
hr{
	border: 1px solid grey;
	position:relative;
	top:25px;
}
.p {
	margin:60px 150px ;
    border: medium solid #6495ed;
    border-collapse: collapse;
    width: 40%;
}
.p td,th {
   border: thin solid white;
   width: 15%;
}
h1{
	position:relative;
	left:1%;
}


li{
	font-size:1.4em;
	margin:0px 10px;
	
}
.gris {
	background-color: #A5E7B7;
}
.grey{
	background-color:grey;
}
.taille{
    margin:35px 280px ;
}
.border {
	border-bottom: 1px solid grey;
}
aside a{
	text-decoration:none;
	color:black;
	text-align:left;
}

.wrapper .button{
 
  height: 50px;
  width: 50px;
  margin: 0 5px;
  overflow: hidden;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  line-height: 30px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 50;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
