body {
    font-family:Arial,Helvetica,sans-serif;	
	background:white;
    margin:0;
	padding:0;
	display:block;
	

	
}


header{
	
	border: 2px solid #2874a6;
	margin: 0px 0px 0px 0px;
    background-color:#2874a6;
    
}


header h1 {
	color:white;
	text-align:center;
	font-size:2em;
	font-weight: verdana ;
}

nav p{
	background-color:#2874a6;
	text-align:center;
	margin:0px 0px 0px 0px;
}

section{
	margin:50px 20px 20px 30px;
    border: 0px solid grey;
	padding:50px;
	width:30%;
	background-color:#B1B7B7;
	
}
section p {
	text-align:left;
	font-weight:bold;
	font-size:2em;
	font-style:italic;
	text-decoration:underline;
	text-transform:capitalize;
	line-height:200%;
	
}

aside{
    margin:-298px 0px 0px 0px;
	float:right;
	width:15%;

	background-color:#27E8E8;
}

footer {
	
	position:absolute;
    bottom:0;
	height:10%;
	width:99%;
	padding:5px;
	background-color:#2874a6;
	
}

footer p {
	text-align:center;
	font-size:14px;
	color:white;

}

p {
	text-align:center;
	font-style:hervana;
}
.citation{
	text-align:center;
	font-style:italic;
}